.imgContainer {
  width: 100%;
  /* height: 400px; */
  position: absolute;
  top: 0;
  /* z-index: -10; */
}

.navbar_margin {
  /* z-index: 0; */
  position: relative;
  padding-top: 12px;
  margin-left: 6.94em;
  margin-right: 6.94em;
  /* height: 400px; */
}

.pageNavigator {
  z-index: 10;
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  padding: 0px 100px;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.pageNavigator button {
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 32px 8px 32px;
  background: none;
  border-radius: 16px 16px 0px 0px;
  background-color: none;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 600;
  /* line-height: 30px; 144.144% */
  cursor: pointer !important;
}

.activeButton {
  cursor: auto !important;
  color: #1a2b49 !important;
  background-color: #fff !important;
}

.intro {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cardsSection {
  /* z-index: -10; */
  position: relative;
  margin-top: 20.83em;
}
