.navbar_margin {
  z-index: 0;
  position: relative;
  padding-top: 12px;
  margin-left: 25%;
  margin-right: 20%;
  height: 400px;
}

.navbar_margin div h1 {
  margin-top: 40px;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 116.989% */
  margin-left: 12px;
  margin-bottom: 24px;
  color: white;
}

.navbar_margin div li {
  font-size: 14.875px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 134.454% */
  display: flex;
  align-items: center;
  margin-left: 12px;
  color: white;
}

.pageNavigator {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 0;
  margin-top: -44px;
  /* width: 100%; */
  margin-left: 18%;
  margin-right: 18%;
  justify-content: space-between;
}

.pageNavigator button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 32px 8px 32px;
  /* margin-left: 50px;
  margin-right: 50px; */
  background: none;
  border-radius: 16px 16px 0px 0px;
  background-color: none;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 600;
  /* line-height: 30px; 144.144% */
  cursor: pointer;
}

.activeButton {
  cursor: auto !important;
  color: #1a2b49 !important;
  background-color: #fff !important;
}
