.CountryCardContainer {
  height: 270px;
  width: 267px;
  border-radius: 20px 20px 0px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  /* background-image: url("https://strapi-aws-s3-visamate.s3.ap-southeast-2.amazonaws.com/tajmahal_b6d6de7844.jpeg"); */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.CountryCardText {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 12px;
  align-items: center;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border: 2px solid #dedfe3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 10;
  position: relative;
}

.CountryCardText p {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 186.667% */
}
.ImageStyle {
  border-radius: 20px 20px 0px 0px; /* Example styles; adjust as needed */
}
