.container {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.login {
  height: 44px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}

.userIcon {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

.chevronDownIcon {
  width: 18px;
  height: 18px;
  margin-left: 2px;
}