.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputLabel {
  display: none;
}

.inputWrap {
  width: 400px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px 0 8px;
  border-radius: 44px;
  background: white;
  box-sizing: border-box;
}

.inputWrap i {
  font-size: 1.5rem;
  color: white;
}

.searchIcon {
  color: black;
  height: 24px;
  width: 24px;
  padding-left: 8px;
}

.productSearch {
  font-size: 18.594px;
  font-style: normal;
  font-weight: 500;
  color: #1a2b49;
  width: 70%;
  height: 100%;
  padding: 0 0 0 1rem;
  background: white;
  border: none;
  outline: none;
}

.productSearch::placeholder {
  color: black;
  opacity: 0.7;
}

.button {
  border-radius: 80px;
  border: 2px solid #0071eb;
  background: #0071eb;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background: #005193;
  border-color: #005193;
}
